<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Conteúdo do sistema Unimed</h1>
<ul>
	<li><%= link_to 'Usuários', usuarios_path %></li>
	<li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'Pacientes', pacientes_path %></li>
	<li><%= link_to 'Médicos', medicos_path %></li>
	<li><%= link_to 'Tipos', tipos_path %></li>
	<li><%= link_to 'Visitas', visita_index_path %></li>
</ul>
<a href="<%= logout_path %>">Sair do Sistema</a>
<%= yield %>

<script type="text/javascript" src="/javascripts/jquery.js"></script>
</body>
</html>

