<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @paciente.nome %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @paciente.sobrenome %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @paciente.telefone %>
</p>

<p>
  <strong>Codigo de identificação:</strong>
  <%= @paciente.codigo_identificacao %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @paciente.endereco %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @paciente.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @paciente.estado %>
</p>

<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
