<div>
<label>Nome: <%= @visita.paciente.nome %></label>
</div>
<div>
<label>Endereço: <%= @visita.endereco %></label>
</div>
<div>
<label>Dia: <%= @visita.dia %></label>
</div>
<div>
<label>Hora: <%= @visita.hora %></label>
</div>
<div>
<label>Descrição: <%= @visita.descricao %></label>
</div>
<%= link_to 'Visitas', visita_index_path %>


